.profile {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 500;
    cursor: pointer;
    
}

.navlink {
    color: rgba(92, 92, 255, 1);
}

.image {
    width: 45px;
    height: 45px;
    margin-right: 5px;
}
