.wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 8px;

    .button {
        padding: 10px 23px;
        color: #fff;
        background-color: #1B1B4D;
        border: none;

        &:hover {
            background-color: rgba(92, 92, 255, 1);
        }
    }

    .quantity {
        width: 80px;
        padding: 9.5px;
        text-align: center;
        background: #fff;
        border: 1px solid #000;
    }
}
