.wrapper {
    display: flex;
    gap: 50px;
    padding: 20px;
}

.imageWrapper {
    display: flex;
    align-items: center;
    width: 40%;

    .image {
        width: 100%;
    }
}

.about {
    width: 60%;
    text-align: center;

    .name {
        padding: 20px;
        font-weight: 600;
        font-size: 30px;
        color: rgba(92, 92, 255, 1);
        line-height: 80px;
    }

    .statsWrapper {
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin-bottom: 20px;
        font-size: 25px;
        font-weight: 600;
        color: #1B1B4D;

        .stats {
            display: flex;
            justify-content: space-between;
            font-size: 20px;
        }

        .stat {
            display: flex;
            align-items: center;
            gap: 8px;
            margin-bottom: 5px;
        }
    }

    .price {
        margin-bottom: 40px;
        font-size: 25px;
        font-weight: 600;
        color: #1B1B4D;
    }

    .button {
        padding: 10px;
        color: #fff;
        font-weight: 500;
        font-size: 18px;
        background-color: rgba(92, 92, 255, 1);
        border-radius: 4px;
        border: 0px;

        &:hover {
            background-color: #1B1B4D;
        }
    }
}
