.wrapper {
    min-height: 55vh;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.profileWrapper {
    width: 60%;
    color: #1B1B4D;

    .title {
        padding: 20px;
        font-size: 30px;
        font-weight: 600;
        text-decoration: underline;
    }

    .infoWrapper {
        padding: 20px;
        display: flex;
        gap: 20px;
        border: 2px solid #1B1B4D;

        .info {
            display: flex;
            flex-direction: column;
            gap: 5px;
            font-size: 18px;

            .p {
                padding: 5px 10px;
            }
        }
    }
}
